# Dependencies
/node_modules

# Build directory
/dist
/build

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE and OS specific files
.DS_Store
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates

# Test output
/coverage